<html>

<body>

<div class="image-detail">

    <img id="zoom" src="{{ escape(image) }}" style="max-width: 100%;">

    <div style="margin: 25px;">
        
        {% for prediction in predictions %}
        {% if prediction['index'] == "0" %}<b>
            <textarea id = "caption" type = "text">{{ prediction['caption'] }}</textarea>
        </b>{% end %}
        {% end %}
        
        <div style="text-align:center;">
            <button id = "button" type= "button" onclick="sendData('{{ escape(image) }}', 'models/la_muse.ckpt')">La Muse Filter</button>
            <button id = "button" type= "button" onclick="sendData('{{ escape(image) }}', 'models/rain_princess.ckpt')">Rain Princess Filter</button>
            <button id = "button" type= "button" onclick="sendData('{{ escape(image) }}', 'models/scream.ckpt')">Scream Filter</button>
            <button id = "button" type= "button" onclick="sendData('{{ escape(image) }}', 'models/udnie.ckpt')">Udnie Filter</button>
            <button id = "button" type= "button" onclick="sendData('{{ escape(image) }}', 'models/wave.ckpt')">Wave Filter</button>
            <button id = "button" type= "button" onclick="sendData('{{ escape(image) }}', 'models/wreck.ckpt')">Wreck Filter</button>
            
            <a download="saved" href="static/img/images/to_download.jpg">
                <button id = "button" type= "button">Download</button>
            </a>
            
            <button id = "button" class = "new" type= "button">🔥 Feed</button>
            <!--a id = "button" href="https://twitter.com/intent/tweet?button_hashtag=picture&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #picture</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script-->
        </div>
   
    </div>
</div>
</body>
</html>
